{% extends 'base.html.twig' %}

{% block title %}Dave{% endblock %}

{% block body %}
    <h1>Dave</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dave.id }}</td>
            </tr>
            <tr>
                <th>Leeftijd</th>
                <td>{{ dave.leeftijd }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('dave_index') }}">back to list</a>

    <a href="{{ path('dave_edit', {'id': dave.id}) }}">edit</a>

    {{ include('dave/_delete_form.html.twig') }}
{% endblock %}
